{% extends "MovieReview/base.html" %}
{% load crispy_forms_tags%}
{% block content %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="control-label">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form.media }}
            
            {{ p_form|crispy }}
            <div class="form-group">
                <button class="btn btn btn-primary" type="submit">Update</button> 
            </div>
        </fieldset>
    </form>
{% endblock content %}