body {
    background: white ;
    font-family: 'Raleway';
}


.nav-link, .nav-link:hover {
    color: white;
    font-weight: bold;
}



.input-holder {
    background: rgba(255, 255, 255, 0.5);
    border-bottom: solid 2px black;
    height: 45px;
    padding: 2px;
    margin-right: 20px;
}

#sch {
    margin: 0;
    border-radius: 50%;
    color: black;
    background: none;
    border: none;
}

#sch:hover {
    color: rgb(255, 89, 47);
    transition: all ease-in-out 0.25s;
}

#sch:focus {
    outline: none !important;
    color: rgb(255, 89, 47);
    border: 0 !important;
    box-shadow: none !important;
}

#search {
    width: 250px;
    background: none;
    border: none;
    color: black;
    outline: none !important;
    box-shadow: none !important;
}

#search:focus {
    width: 250px;
    color: rgb(255, 89, 47);
    background: rgba(255, 255, 255, 0);
}

#search [placeholder="search"] {
    color: rgb(255, 89, 47);
    font-weight: bold;

}

.categories {
    margin: 50px;
}

.categories  ul li{
    display: inline-block;
    font-size: 25px;
    margin: 5px;
}

.categories ul li a,
.categories ul li a:hover {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}

.categories ul li a:hover {
    color: black !important;
    transition: all ease-in-out 0.25s;
}

.categories ul li a:focus {
    color: black !important;
}

.categories ul li a:active {
    color: black !important;
}

.movie-cards {
    margin: 50px;
}

.card {
    border: none;
    width: auto;
    height: auto;
    padding: none;
    border-radius: 10px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.card > a > img {
    position: relative;
    margin: auto;
    width: 100%;
    border-radius: 10px;
}

.yellow {
    color: rgb(255, 230, 0);
    font-size: 20px;
}

.title, .rating {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Lato';
}


/* footer {
    position: static;
    background-color: rgb(1, 0, 73);
    padding: 30px 25px 25px 25px;
}

footer ul {
    margin-top: 5px;
}

footer p a,
footer h1 a {
    color: white;
} */

.social {
    font-size: 24px;
    margin: 5px;
}

.rud {
    font-size: 35px;
    margin: 5px;
    text-align: center !important;
}

.copy {
    font-size: 24px;
    margin: 5px;
    text-align: right !important;
}



/* RESPONSIVE */

@media (max-width:980px) {

    /* For mobile phones: */

    .movies {
        margin: 0 !important;
        width: 100% !important;
    }

    .navbar-toggler {
        color: #000;
    }

    #search {
        display: inline-block;
        width: 250px;
    }

    .categories ul li {
        display: inline-block;
        font-size: 20px;
        margin: 5px;
    }

    .mov-col {
        margin: 0 0  10px  0;
    }

    .card {
        width: 100%;
    }

    .soc,
    .rud,
    .copy {
        text-align: left !important;
    }

    .soc {
        font-size: 35px;
        margin: 5px;
    }

    .soc a {
        margin: 5px 5px 0px 10px;
        ;
    }

    .rud {
        font-size: 35px;
        margin: 5px;

    }

    .copy {
        font-size: 15px;
        margin-bottom: -10%;
        padding: 30px 0;
    }


}
