@keyframes heartbeat {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

body {
    color: #FFFFFF;
    background: #1b2469;
    backdrop-filter: blur(8px);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    overflow-x: hidden !important;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.navbar {
    background: #27292d;
    z-index: 5;
}

.nav-link {
    color: white;
    font-weight: bold;
    font-family: 'Raleway';
}

.nav-link:hover {
    color: #dadada;
    transition: ease-in-out all 0.25s;
}

.btn-primary {
    position: absolute;
    background: none;
    border: solid 2px #fff;
    border-radius: 5px;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    padding: 10px 25px;
    font-family: 'Raleway';
    margin: -11% 0 0 5% !important;
    display: block;
    float: left;
}

.btn-primary:hover {
    background: #FFFFFF;
    color: #000000;
    border: solid 2px #fff;
    transition: all ease-in-out 0.3s;
}

.slider-container {
    left: 0%;
    top: 0%;
    right: 0;
    justify-content: center;
    margin: auto;
    width: auto;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;

}

.slider-container .slider-content {
    position: relative;
    left: 50%;
    top: 40%;
    width: 70%;
    height: 60%;
    transform: translate(-50%, -50%);
}

.slider-container .slider-content .slider-single {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: z-index 0ms 250ms;
}

.slider-container .slider-content .slider-single .slider-single-image {
    position: relative;
    left: 0;
    top: 0;
    margin: auto;
    width: 100%;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    transform: scale(0);
    opacity: 0;
}

.slider-container .slider-content .slider-single .slider-single-title {
    margin: -20% 0 0 5% !important;
    display: block;
    float: left;
    width: 50%;
    font-size: 75px;
    font-family: 'karla';
    font-weight: 700;
    color: #ffffff;
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    opacity: 0;
}

.slider-container .slider-content .slider-single .slider-single-likes {
    display: block;
    float: right;
    margin: 16px 20px 0 0;
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    opacity: 0;
}

.slider-container .slider-content .slider-single .slider-single-likes i {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    color: #ff6060;
    transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
    transform: scale(0);
}

.slider-container .slider-content .slider-single .slider-single-likes p {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    color: #ffffff;
}

.slider-container .slider-content .slider-single .slider-single-likes:hover,
.slider-container .slider-content .slider-single .slider-single-likes:focus {
    outline: none;
    text-decoration: none;
}

.slider-container .slider-content .slider-single.preactivede .slider-single-image {
    transform: translateX(-50%) scale(0);
}

.slider-container .slider-content .slider-single.preactive {
    z-index: 1;
}

.slider-container .slider-content .slider-single.preactive .slider-single-image {
    opacity: .7;
    transform: translateX(-25%) scale(0.8);
    margin-left: -75%;
}

.slider-container .slider-content .slider-single.preactive .slider-single-title {
    transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.preactive .slider-single-likes {
    transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.proactive {
    z-index: 1;
}

.slider-container .slider-content .slider-single.proactive .slider-single-image {
    opacity: .7;
    transform: translateX(25%) scale(0.8);
    margin-left: 75% !important;
}

.slider-container .slider-content .slider-single.proactive .slider-single-title {
    transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactive .slider-single-likes {
    transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactivede .slider-single-image {
    transform: translateX(50%) scale(0);
}

.slider-container .slider-content .slider-single.active {
    z-index: 2;
}

.slider-container .slider-content .slider-single.active .slider-single-image {
    opacity: 1;
    transform: translateX(0%) scale(1);
}

.slider-container .slider-content .slider-single.active .slider-single-title {
    opacity: 1;
    transition-delay: 200ms;
    transform: translateX(0px);
}

.slider-container .slider-content .slider-single.active .slider-single-likes {
    opacity: 1;
    transition-delay: 300ms;
    transform: translateX(0px);
}

.slider-container .slider-content .slider-single.active .slider-single-likes i {
    animation-name: heartbeat;
    animation-duration: 500ms;
    animation-delay: 900ms;
    -o-animation-duration: 1;
    animation-fill-mode: forwards;
}

.slider-container .slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    right: 85%;
    height: 70%;
    width: 350px;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    margin-right: 10%;
    opacity: 0;
}

.slider-container .slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    height: 70%;
    width: 350px;
    left: 85%;
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    margin-left: 10%;
    opacity: 0;
}

/* RESPONSIVE */

@media (max-width:600px) {

    /* For mobile phones: */

    body {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    .navbar-toggler {
        color: #FFFFFF;
    }

    .slider-container .slider-content .slider-single {
        height: 80%;
    }

    .slider-container .slider-content .slider-single .slider-single-image {
        position: relative;
        object-fit: cover;
        height: 500px;
        max-width: 400px;
    }

    .slider-container .slider-content .slider-single.preactive .slider-single-image {
        margin-left: -70%;
    }

    .slider-container .slider-content .slider-single.proactive .slider-single-image {
        margin-left: 70% !important;
    }

    .slider-container .slider-content .slider-single .slider-single-title {
        margin: -55% 0 0 10% !important;
        width: 70%;
        font-size: 25px;
    }

    .btn-primary {
        font-size: 15px;
        padding: 5px 10px;
        width: 50%;
        margin: -20% 0 0 10% !important;
    }

    .slider-container .slider-left {
        left: -20px;
    }

    .slider-container .slider-right {
        right: -20px;
    }


}