{% extends "MovieReview/base.html" %}
{% load crispy_forms_tags%}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class = " card login">
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <div class = "px-auto mx-5">
    <p align="center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it. Please check your spam folder if not found in general" %}</p>
    </div>
    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-outline-success btn-block" value="{% trans 'Reset My Password' %}" />
    </form>

    <div class="mx-5 px-auto">
        <hr style="height: 2px; border: 0; box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);">
    <p align="center">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
    </div>
</div>
    
{% endblock %}
