{% extends "MovieReview/base.html" %}
{% comment %} {% load crispy_forms_tags%} {% endcomment %}
{% block content %}
    <div class='container-fluid mb-auto'>
        <div class="card login px-3">
            <br>
            <br>
            <h2>You have successfully logged out!</h2><br><br>
            <div class="border-top pt-3">
                <a class="ml-2" href="{% url 'login' %}">Login Again?</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock content %}