{% extends "MovieReview/0.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<br>
<br>
<div class="row movie-cards">
    <div class="col-md-2 mov-col">
        <div class="card">
            <a href="{% url 'movie-review-info' %}">
                <img class="image-cap-top" src="https://i.pinimg.com/236x/a0/01/07/a001075a4425d7a63b3ddb5f548293d0.jpg" alt="Your Name"style="height:200px;">
            </a>
        </div>
        <div class="support-text"style="margin: 5px;">
            <span class="title pull-left"> Your Name </span>
            <span class="rating pull-right"> <i class="fa fa-star yellow"></i> 9.0/10</span>
        </div>
    </div>
    <div class="col-md-2 mov-col">
        <div class="card">
            <a href="#">
                <img class="image-cap-top " 
                src="https://static.wikia.nocookie.net/marvelcinematicuniverse/images/5/5c/Civil_War_Final_Poster.jpg/revision/latest/scale-to-width-down/675?cb=20160310172110" 
                alt="aladin" style="height: 200px;">
            </a>
        </div>
        <div class="support-text" style="margin: 5px;">
            <span class="title pull-left"> Captain America: Civil War </span>
            <span class="rating pull-right"> <i class="fa fa-star yellow"></i> 5.5/10</span>
        </div>
    </div>
    
</div>
{%endblock%}