{% extends "MovieReview/base.html" %}{% extends "MovieReview/base.html" %} {%
block title %} {{title}} {% endblock %}
<div class="container-fluid profile">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <img src="https://image.tmdb.org/t/p/original/{{
                    movie.poster_path }} alt="">
            </div>
        </div>
        <div class="col-md-5 passage">
            <h1 class="name">Aladdin</h1>
            <p class="syn">Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. Laudantium obcaecati
                incidunt blanditiis voluptatibus saepe.
                Quibusdam soluta exercitationem hic at, deleniti magni ipsam?
                Perferendis fugit omnis aperiam
                temporibus? Suscipit nemo consequatur
                voluptatem omnis fugiat illo mollitia, perferendis repellat
                tempore iste quo? Harum vero commodi
                quos iusto labore doloribus earum. Suscipit nemo consequatur
                voluptatem omnis fugiat illo mollitia, perferendis repellat
                tempore iste quo? Harum vero commodi
                quos iusto labore doloribus earum.
            </p>
            <ul class="list-unstyled">
                <li class="rep">
                    <h5 class="">Rating</h5>
                    <p><i class="fa fa-star yellow"></i> 5.5/10</p>
                </li>
                <li class="rep">
                    <h5 class="">Genre</h5>
                    <p> Crime/Drama </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 dets">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Adipisci, consequuntur sunt
                dignissimos
                molestiae eos magni, qui doloribus atque placeat error
                reprehenderit necessitatibus! Ex et quae
                commodi culpa dolorem explicabo maxime libero itaque officia
                assumenda! Adipisci quidem ut
                possimus
                ipsam quasi voluptas at dicta autem? Illum cumque nostrum est
                libero tempora iure. Nulla optio a
                voluptatibus sapiente, nemo numquam aut amet quo vitae eaque
                quidem itaque tenetur neque
                assumenda
                alias necessitatibus enim dolorum sunt molestias porro sit
                reiciendis animi. Eos alias qui ut
                praesentium expedita id neque, illum voluptates facilis
                voluptate, exercitationem vel ipsam?
                Asperiores placeat sed assumenda rem, ea sapiente sunt ipsa?
                Excepturi voluptas assumenda,
                mollitia
                eveniet ducimus magnam, dolores quia neque quo quas dolor
                voluptatum nesciunt, commodi doloribus
                incidunt quaerat expedita libero et labore. Natus reprehenderit
                sint quidem obcaecati
                cupiditate,
                corrupti quos, ab culpa recusandae dicta labore eum iure?
                Temporibus at asperiores voluptatem
                necessitatibus fugit, recusandae libero nulla, cumque vitae fuga
                repellendus qui beatae debitis.
                Ea
                omnis ex, unde quibusdam saepe officiis illum nam deserunt
                deleniti similique beatae esse quas
                eum
                optio maiores inventore perspiciatis aliquid, dolorem quasi at
                iste iure non in. Id fuga dolorem
                ad
                et asperiores pariatur magnam natus omnis illum porro tempore
                atque hic, quia, eveniet cumque
                minus
                ipsum debitis dicta nam harum! Sint, soluta eveniet. Odit cum
                sint et, nam ipsam explicabo
                adipisci
                dolorem hic, tempore ea maxime possimus assumenda! Quam, dolore?
                Officiis culpa provident facere
                omnis impedit, a, dicta doloribus rerum, aliquid vero nostrum
                pariatur. Id, et animi.
                Consectetur
                iste, maxime repudiandae praesentium nemo nesciunt eaque quas
                molestias nostrum excepturi
                exercitationem fuga suscipit dolores eum distinctio laudantium?
                Ullam aliquam illum at
                reprehenderit
                velit! Optio, dolorem cupiditate rerum atque doloribus assumenda
                laudantium aperiam distinctio!
                Modi
                mollitia a animi quo sunt provident itaque esse? Praesentium
                vero fuga hic labore perspiciatis
                cupiditate veniam ullam! Odit, minus.
            </p>
        </div>
        <div class="col-md-6 dets">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Adipisci, consequuntur sunt
                dignissimos
                molestiae eos magni, qui doloribus atque placeat error
                reprehenderit necessitatibus! Ex et quae
                commodi culpa dolorem explicabo maxime libero itaque officia
                assumenda! Adipisci quidem ut
                possimus
                ipsam quasi voluptas at dicta autem? Illum cumque nostrum est
                libero tempora iure. Nulla optio a
                voluptatibus sapiente, nemo numquam aut amet quo vitae eaque
                quidem itaque tenetur neque
                assumenda
                alias necessitatibus enim dolorum sunt molestias porro sit
                reiciendis animi. Eos alias qui ut
                praesentium expedita id neque, illum voluptates facilis
                voluptate, exercitationem vel ipsam?
                Asperiores placeat sed assumenda rem, ea sapiente sunt ipsa?
                Excepturi voluptas assumenda,
                mollitia
                eveniet ducimus magnam, dolores quia neque quo quas dolor
                voluptatum nesciunt, commodi doloribus
                incidunt quaerat expedita libero et labore. Natus reprehenderit
                sint quidem obcaecati
                cupiditate,
                corrupti quos, ab culpa recusandae dicta labore eum iure?
                Temporibus at asperiores voluptatem
                necessitatibus fugit, recusandae libero nulla, cumque vitae fuga
                repellendus qui beatae debitis.
                Ea
                omnis ex, unde quibusdam saepe officiis illum nam deserunt
                deleniti similique beatae esse quas
                eum
                optio maiores inventore perspiciatis aliquid, dolorem quasi at
                iste iure non in. Id fuga dolorem
                ad
                et asperiores pariatur magnam natus omnis illum porro tempore
                atque hic, quia, eveniet cumque
                minus
                ipsum debitis dicta nam harum! Sint, soluta eveniet. Odit cum
                sint et, nam ipsam explicabo
                adipisci
                dolorem hic, tempore ea maxime possimus assumenda! Quam, dolore?
                Officiis culpa provident facere
                omnis impedit, a, dicta doloribus rerum, aliquid vero nostrum
                pariatur. Id, et animi.
                Consectetur
                iste, maxime repudiandae praesentium nemo nesciunt eaque quas
                molestias nostrum excepturi
                exercitationem fuga suscipit dolores eum distinctio laudantium?
                Ullam aliquam illum at
                reprehenderit
                velit! Optio, dolorem cupiditate rerum atque doloribus assumenda
                laudantium aperiam distinctio!
                Modi
                mollitia a animi quo sunt provident itaque esse? Praesentium
                vero fuga hic labore perspiciatis
                cupiditate veniam ullam! Odit, minus.
            </p>
        </div>
    </div>
    <div class="row" style="top: 15%;">
        <div class="col-md-2 prev">
            <div class="card">
                <img
                    src="ux/Aquaman-2018-Movie-HD-4K-Wallpaper-WallpapersByte-com-1920x1080.jpg"
                    alt="">
            </div>
            <a href="#">
                <h6 class="text-left next-rev">Previous Review</h6>
            </a>
        </div>
        <div class="col-md-2 next">
            <div class="card">
                <img src="ux/oblivion-tom-cruise-wallpaper-hd.jpg" alt="">
            </div>
            <a href="#">
                <h6 class="text-right next-rev">Next Review</h6>
            </a>
        </div>
    </div>
</div>