{% extends "MovieReview/0.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<div class="container">
    <section class="py-5 mt-5">
        <div class="container py-5">
            
            <div class="row row-cols-1 row-cols-md-3 mx-auto" style="max-width: 1200px;">
                <div class="col mb-4">
                    <div><a href="#"><img class="rounded img-fluid shadow w-150 fit-cover" src="https://i.pinimg.com/236x/a0/01/07/a001075a4425d7a63b3ddb5f548293d0.jpg" style="height: 250px;"></a>
                        <div class="py-4"><span class="badge bg-success mb-2">Movie</span>
                            <h4 class="fw-bold">Your Name</h4>
                            {% comment %} <p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div><a href="#"><img class="rounded img-fluid shadow w-150 fit-cover" src="https://static.wikia.nocookie.net/marvelcinematicuniverse/images/5/5c/Civil_War_Final_Poster.jpg/revision/latest/scale-to-width-down/675?cb=20160310172110" style="height: 250px;"></a>
                        <div class="py-4"><span class="badge bg-success mb-2">Movie</span>
                            <h4 class="fw-bold">Captain America: Civil War</h4>
                            {% comment %} <p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div><a href="#"><img class="rounded img-fluid shadow w-150 fit-cover" src="https://i.pinimg.com/236x/a0/01/07/a001075a4425d7a63b3ddb5f548293d0.jpg" style="height: 250px;"></a>
                        <div class="py-4"><span class="badge bg-success mb-2">Movie</span>
                            <h4 class="fw-bold">Your Name</h4>
                            {% comment %} <p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div><a href="#"><img class="rounded img-fluid shadow w-150 fit-cover" src="https://static.wikia.nocookie.net/marvelcinematicuniverse/images/5/5c/Civil_War_Final_Poster.jpg/revision/latest/scale-to-width-down/675?cb=20160310172110" style="height: 250px;"></a>
                        <div class="py-4"><span class="badge bg-success mb-2">Movie</span>
                            <h4 class="fw-bold">Captain America: Civil War</h4>
                            {% comment %} <p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div><a href="#"><img class="rounded img-fluid shadow w-150 fit-cover" src="https://i.pinimg.com/236x/a0/01/07/a001075a4425d7a63b3ddb5f548293d0.jpg" style="height: 250px;"></a>
                        <div class="py-4"><span class="badge bg-success mb-2">Movie</span>
                            <h4 class="fw-bold">Your Name</h4>
                            {% comment %} <p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col mb-4">
                    <div><a href="#"><img class="rounded img-fluid shadow w-150 fit-cover" src="https://static.wikia.nocookie.net/marvelcinematicuniverse/images/5/5c/Civil_War_Final_Poster.jpg/revision/latest/scale-to-width-down/675?cb=20160310172110" style="height: 250px;"></a>
                        <div class="py-4"><span class="badge bg-success mb-2">Movie</span>
                            <h4 class="fw-bold">Captain America: Civil War</h4>
                            {% comment %} <p class="text-muted">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
</div>
{%endblock%}