{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap css and other css files-->
    <link href='https://fonts.googleapis.com/css?family=Karla|Raleway' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'MovieReview/css/main.css' %}">
    <!-- Title of the page, if passed otherwise default is Movie Reviews -->
    {% if title %}
    <title> MovRev: {{ title }} </title>
    {% else %}
    <title>MovRev</title>
    {% endif %}

</head>

<body theme="">
    <script src="{% static 'MovieReview/js/main.js' %}"></script>

    <nav class="navbar navbar-expand-lg navbar-fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="row">
                <a class="nav-link ml-5" href="{% url 'movie-review-home'%} " style="text-align:center;"><i
                        class="fa fa-home fa-2x"></i></a>
                <a class="nav-link mr-2" href="javascript:history.go(-1)" style="text-align:center;"><i
                        class="fa fa-angle-left fa-2x"></i></a>

                <div class="wrapper mr-auto">
                    <div class="input-holder d-sm-flex ">
                        <input class="form-control" type="text" id="search" placeholder="search...">
                        <button id="sch" class="btn btn-primary fa fa-search" type="submit"></button>
                    </div>
                </div>
            </div>

        </div>

        <a class="navbar-brand" href="{% url 'movie-review-home'%}">
            <div class="row">
                <h2 style="font-family: Pacifico, cursive;">MovRev</h2>
                <img id="logo" src="{% static 'MovieReview/images/logo.png' %}" alt="logo" class="logo">
            </div>
        </a>


        <ul class="navbar-nav ml-auto">
            <div class="container">
                <input type="checkbox" id="theme-toggle">
                <label for="theme-toggle"></label>
            </div>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile'%}">Profile</a>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login'%}">Login </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register'%}">Register</a>
            </li>
            {% endif %}
        </ul>
        </div>
    </nav>

    <main class="main-content">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-primary-gradient">
        <div class="container-fluid">

            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright <i class="fa fa-copyright"></i> 2022 MovRev</p>
                <ul class="list-inline mb-0">

                    <li class="list-inline-item">
                        <a href="#"> About Us </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"> Contact Us </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"> Privacy Policy </a>
                    </li>
                </ul>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fa fa-github" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fa fa-instagram" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fa fa-facebook-f" style="font-size:20px;"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
        </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
        </script>
    <script src="{% static 'MovieReview/js/main.js' %}"></script>

</body>

</html>