{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% comment %} <link href='https://fonts.googleapis.com/css?family=Karla|Raleway' rel='stylesheet' type='text/css'> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'MovieReview/1.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="1.css"> -->
    {% if title %}
        <title> Movie Reviews - {{ title }} </title>
    {% else %}
        <title>Movie Reviews</title>
    {% endif %} 

</head>
<style>
    .checked {
        color: orange;
    }
    .card{
        font-family: 'Playfair Display', serif;
    }
</style>
<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
<body>

    <nav class="navbar navbar-expand-lg navbar-fixed-top" style="    background-color: orange    ">
        <a class="nav-link" href="{% url 'movie-review-home'%} " style ="text-align:center;" class="ml-5">Home</a>
        <div class ="container"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="wrapper mr-auto">
                <div class="input-holder d-sm-flex">
                    <input class="form-control" type="text" id="search" placeholder="search...">
                    <button id="sch" class="btn btn-primary fa fa-search" type="submit"></button>
                </div>
            </div>
            <!-- <a class="navbar-brand" href="index.html"><img width="25px" height="25px" src="ux/Untitled-5.png" alt=""></a> -->
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="account-img" src="{{ user.profile.image.url }}" width="30px" height="30px">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'profile' %}">View Profile</a>

                      <a class="dropdown-item" href="{% url 'update' %}">Edit Profile</a>
                      {% comment %} <a class="dropdown-item" href="#">Something else here</a> {% endcomment %}
                    </div>
                  </li>
                  
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login'%}">Login </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register'%}">Register</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </div>
    </nav>
    <div class="container"> 
    <main class="main-content">
        <div class="row">
            <div class="col-md-12">
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
              {% block content %}{% endblock %}
            </div>
        </div>
            

    </main>

    <!-- <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 soc">
                    <p class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook-square"></i></a>
                        <a href=""><i class="fa fa-instagram"></i></a>
                    </p>
                </div>
                <div class="col-md-4 rude">
                    <h1 class="rud">
                        <a href="">rudolph obah</a>
                    </h1>
                </div>
                <div class="col-md-4 cop">
                    <p class="copy"><a href="">&copy; Movie Reviews</a></p>
                </div>
            </div>
        </div>
    </footer> -->
</div>
    
    <footer class="bg-primary-gradient" >
        <div class="container py-4 py-lg-5">
            
            <hr>
            <div class="text-muted d-flex justify-content-between align-items-center pt-3">
                <p class="mb-0">Copyright <i class="fa fa-copyright"></i> 2022 Brand</p>
                <ul class="list-inline mb-0">
                    
                    <li class="list-inline-item">
                    <a href="#"> About Us </a>
                    </li>
                    <li class="list-inline-item">
                    <a href="#"> Contact Us </a>
                    </li>
                    <li class="list-inline-item">
                    <a href="#"> Privacy Policy </a>
                    </li>
                </ul>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a href="#">   
                            <i class="fa fa-github-square" style="font-size: 20px;"></i>
                        </a>
                        </li>
                    <li class="list-inline-item">
                        <a href="#">   
                            <i class="fa fa-instagram" style="font-size: 20px;"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">       
                            <i class="fa fa-facebook-f" style="font-size:20px;"></i>
                        </a>
                        </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    {% comment %} <script src="{% static 'MovieReview/starrating.js' %}"></script> {% endcomment %}

</body>

</html>
