{% extends "MovieReview/base.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card" style="background-color: #8116de; margin-top: 10px; margin-left:10px;" >
                <img src="https://image.tmdb.org/t/p/original/{{result.poster_path}}" class="card-img" style="border-radius:10px">
                <div class="card-body">
                    <h1>{{ result.title }}</h1>
                    <p>{{ result.release_date}}</p>
                    <p><strong>Genres: </strong>
                        {% for genre in result.genres %}
                            
                            <a href="{% url 'movie-review-genre' genre.id %}" class="badge badge-pill badge-info">{{ genre.name }}</a>
                        {% endfor %}
                       
                    </p>
                </div>

            </div>
        </div>

        <div class="col-sm-9 mt-3">
            {% for trailer in result.videos.results %}
                {% if trailer.official and trailer.type == 'Trailer'%}
                    <iframe width="832" height="468" src="https://www.youtube.com/embed/{{trailer.key}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    {{ "<!--" }}
                {%endif%} 
            {%endfor%}     
            {{ "-->" }}
        <p> {{ result.overview }}</p>

        </div>

    </div>
        {% comment %} <div class="row"> {% endcomment %}
            <div  style="background-color: gold; text-align: center;" class="mt-3">
                <div><h3>Reviews</h3></div>
                
            </div>
            <div>
                <span class="fa fa-star star1 checked"></span>
                <span class="fa fa-star star2 checked"></span>
                <span class="fa fa-star star3 checked"></span>
                <span class="fa fa-star star4"></span>
                <span class="fa fa-star star5"></span>
            </div>
            <div class="row">
                <div class="row col-md-6"> 
                    
                    <div class="col-md-3 mt-2" >
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        <br>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        <br>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        <br>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                        <br>
                            <span class="fa fa-star checked"></span>
                        <br>
                    </div>
                    <div class="col-md-9 "> 
                        <div class="progress mt-2" data-toggle="tooltip" data-placement="top" title="50" style="height: 20px">
                            <div class="progress-bar progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                        <div class="progress mt-1" data-toggle="tooltip" data-placement="top" title="30" style="height: 20px">
                            <div class="progress-bar bg-success progress-bar-animated"  role="progressbar" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                {% comment %} 30 {% endcomment %}
                            </div>
                        </div>
                        <div class="progress mt-1" data-toggle="tooltip" data-placement="top" title="5" style="height: 20px">
                            <div class="progress-bar bg-info progress-bar-animated" role="progressbar" style="width: 5%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress mt-1" data-toggle="tooltip" data-placement="top" title="2" style="height: 20px">
                            <div class="progress-bar bg-warning progress-bar-animated" role="progressbar" style="width: 2%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="progress mt-1" data-toggle="tooltip" data-placement="top" title="13" style="height: 20px">
                            <div class="progress-bar bg-danger progress-bar-animated" role="progressbar" style="width: 13%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        
    </div>
    <div class="container">
        <h2 class="mt-5" style="background-color: silver; text-align: center;"> Recommendations </h2>
            <div class="row movie-cards">
                {% for movie in recommendations %}
                <div class="col-md-3 mov-col">
                    <div class="card">
                        <a href="{% url 'movie-review-info' movie.id %}" >
                            <img class="image-cap-top" src="https://image.tmdb.org/t/p/original/{{ movie.backdrop_path }}"
                                alt="{{ movie.title }}">
                        </a>
                    </div>
                    <div class="support-text" style="margin: 5px;">
                        <span class="title pull-left"> {{ movie.title }} </span>
                        <span class="rating pull-right"> <i class="fa fa-star yellow" style="font-size: 15px"></i> {{ movie.vote_average }}</span>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:"8" %}

                {{ "<!--" }}
                    {%endif%} 
                {%endfor%}     
                {{ "-->" }}
            {% comment %} <p> {{ result.overview }}</p> {% endcomment %}
            </div>
    </div>

</div>
{%endblock%}